@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: WhitneySSM;
}
body {
  @apply bg-lightpink;
}

@font-face {
  font-family: "WhitneySSM";
  src: url("./assets/fonts/WhitneySSmMedium.ttf") format("truetype");
}
